h1 {
    text-align: center;
    font-size: 4rem; 
    max-width: 80%; 
    margin: 0 auto;
    color: white; 
}
#game-frame {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Move the button to the bottom */
    border: 2px solid white;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}
body {
    background-color: black; 
}

button {
    width: 200px; /* Increase the button size */
    font-size: 2rem; /* Increase the button text size */
}
