h1 {
    text-align: center;
    font-size: 4rem; 
    max-width: 80%; 
    margin: 0 auto;
    color: white; 
}
#game-frame {
    position: relative; /* Ensure the frame is positioned relative */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}
body {
    background-color: black; 
}


button {
    width: 200px; /* Increase the button size */
    font-size: 2rem; /* Increase the button text size */
    position: absolute;
    bottom: 10%;
}
